#header {
    background-color: lightgrey;
    text-align: center;
    padding-bottom: 10px;    
}
#headerTitle {
    font-size: 60px;
    font-style: bold;
}
#home {
    text-align: center;
    margin-top: 60px;
}
#newDinnerButton {
    margin-top: 60px;
    font-size: 20px;
}
#dinnerOverview {
    text-align: center;
    vertical-align: center;
    padding: 30px;
}
#myDinner {
    margin-left: 40px;
    font-size: 40px;
}
#goBackButton {
    font-size: 30px;
}
#dinnerSpecifics {
    padding: 20px;
}
#recipeButtonContainer {
    padding-top: 20px;
    text-align: center;
}

#printRecipeButton {
    font-size: 40px;
}
#dishPrice {
    margin-top: 10px;
    text-align: right;
}

