#header {
    background-color: lightgrey;
    text-align: center;
    padding-bottom: 10px;    
}
#headerTitle {
    font-size: 60px;
    font-style: bold;
}

#home {
    text-align: center;
    margin-top: 60px;
}
#newDinnerButton {
    margin-top: 60px;
    font-size: 20px;
}
#dinnerOverview {
    margin-top: 20px;
    text-align: center;
    vertical-align: center;
}
#myDinner {
    margin-left: 40px;
    font-size: 40px;
}
#goBackButton {
    font-size: 30px;
}
