#header {
    background-color: lightgrey;
    text-align: center;
    padding-bottom: 10px;    
}
#headerTitle {
    font-size: 60px;
    font-style: bold;
}

#home {
    text-align: center;
    margin-top: 60px;
}
#newDinnerButton {
    margin-top: 60px;
    font-size: 20px;
}
#myDinner {
    margin-left: 40px;
    font-size: 40px;
}
/*  SKA LÄGGAS TILL I style.css  */ 

.row{
    margin: none;
}

.leftSideContainer{
    width: 20%;
    height: 100%;
    position: fixed;
    border: solid;
    border-width: 2px;
}

.sideColumnHeader{
    background-color: grey;
}

.sideCost{
    text-align: right;
}

.confirmDinnerButton{
    display: block;
    margin: auto;
    padding: none;
}

